# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pibicenv/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Colecoes
Colecoes/
finalResults/
.vscode/
output/

# My workspace
Jeferson/dataset
Jeferson/new_resultados
*.png
.idea/
.vscode/
*.profile
logs/
Jeferson/output/TNIM/Fold1/chromossomeCollection-log.json
Jeferson/output/TNIM/Fold1/chromossomeCollection.json
Jeferson/output/TNIM/Fold1/chromossomeCollectionArchive.json
Jeferson/output/TNIM/Fold1/chromossomeCollectionBest.json
Jeferson/output/TNIM/Fold1/config.json
Jeferson/output/TNIM/Fold2/config.json
Jeferson/output/forests/2003_td_dataset1313/Fold1.pkl
GARF/dataset/.gitignore
GARF/dataset/2003_td_dataset/Fold1/Norm.test.txt
GARF/dataset/2003_td_dataset/Fold1/Norm.train.txt
GARF/dataset/2003_td_dataset/Fold1/Norm.vali.txt
GARF/new_resultados/2003_td_dataset-Fold1-base-testingspea2precision1.json
GARF/new_resultados/2003_td_dataset-Fold1-base-testingspea2precision1archives.json
GARF/new_resultados/2003_td_dataset-Fold1-base-testingspea2precision1topind.json
GARF/new_resultados/reader.py
GARF/new_resultados/100trees/web10k-Fold1-base-testingspea2precision101.json
GARF/new_resultados/100trees/web10k-Fold1-base-testingspea2precision1001.json
GARF/new_resultados/75gen/web10k-Fold1-base-testingspea2precision, risk1.json
GARF/new_resultados/75gen/web10k-Fold1-base-testingspea2precision1.json
GARF/new_resultados/75gen/web10k-Fold1-base-testingspea2precision1topind.json
GARF/new_resultados/75gen/web10k-Fold1-base-testingspea2risk1.json
GARF/new_resultados/75gen/web10k-Fold1-base-testingspea2risk1topind.json
GARF/new_resultados/modified_params/web10k-Fold1-base-testingspea2precisionMod50Mut90Cx.json
GARF/new_resultados/modified_params/web10k-Fold1-base-testingspea2precisionMod50Mut90Cxarchives.json
GARF/new_resultados/modified_params/web10k-Fold1-base-testingspea2precisionMod50Mut90Cxtopind.json
GARF/new_resultados/mutation0805_50gen/web10k-Fold1-base-testingspea2precision2.json
GARF/new_resultados/original_params/web10k-Fold1-base-testingspea2precisionOriginal20Mut90Cx.json
GARF/new_resultados/original_params/web10k-Fold1-base-testingspea2precisionOriginal20Mut90Cxarchives.json
GARF/new_resultados/original_params/web10k-Fold1-base-testingspea2precisionOriginal20Mut90Cxtopind.json
GARF/output/TNIM/Fold1/chromossomeCollection-log.json
GARF/output/TNIM/Fold1/chromossomeCollection.json
GARF/output/TNIM/Fold1/chromossomeCollectionArchive.json
GARF/output/TNIM/Fold1/chromossomeCollectionBest.json
GARF/output/TNIM/Fold1/config.json
GARF/output/TNIM/Fold2/config.json
GARF/output/forests/2003_td_dataset1313/Fold1.pkl
