# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pibicenv/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Colecoes
Colecoes/
finalResults/
.vscode/
Gabriel/randomforest_ga/AG.py
Gabriel/randomforest_ga/MAIN_AG.py
Gabriel/randomforest_ga/README.md
Gabriel/randomforest_ga/External/__init__.py
Gabriel/randomforest_ga/External/ga.py
Gabriel/randomforest_ga/External/h_functionsFilter.py
Gabriel/randomforest_ga/External/h_l2rMeasures.py
Gabriel/randomforest_ga/External/h_l2rMiscellaneous.py
Gabriel/randomforest_ga/External/h_ParetoSet.py
Pedro/controlTime.py
Pedro/deapForL2r.py
Pedro/evaluateIndividuo.py
Pedro/evaluateIndividuoSerial.py
Pedro/gerarBaseline.py
Pedro/gerarBaselineSerial.py
Pedro/l2rCodes.py
Pedro/l2rCodesSerial.py
Pedro/main.py
Pedro/pareto.py
Pedro/README.md
Pedro/readSintetic.py
Pedro/scriptBaseline.py
Pedro/testFinalSolution.py
Pedro/testFinalSolutionSerial.py
Pedro/testTemp.py
Pedro/baselines/2003_td_dataset/Fold1/reg.txt
Pedro/baselines/2003_td_dataset/Fold1/rf.txt
Pedro/baselines/2003_td_dataset/Fold2/reg.txt
Pedro/baselines/2003_td_dataset/Fold2/rf.txt
Pedro/baselines/2003_td_dataset/Fold3/reg.txt
Pedro/baselines/2003_td_dataset/Fold3/rf.txt
Pedro/baselines/2003_td_dataset/Fold4/reg.txt
Pedro/baselines/2003_td_dataset/Fold4/rf.txt
Pedro/baselines/2003_td_dataset/Fold5/reg.txt
Pedro/baselines/2003_td_dataset/Fold5/rf.txt
Pedro/baselines/bibsonomy/Fold1/.gitignore
Pedro/baselines/bibsonomy/Fold1/rf.txt
Pedro/baselines/bibsonomy/Fold2/.gitignore
Pedro/baselines/bibsonomy/Fold2/rf.txt
Pedro/baselines/bibsonomy/Fold3/.gitignore
Pedro/baselines/bibsonomy/Fold3/rf.txt
Pedro/baselines/bibsonomy/Fold4/.gitignore
Pedro/baselines/bibsonomy/Fold4/rf.txt
Pedro/baselines/bibsonomy/Fold5/.gitignore
Pedro/baselines/bibsonomy/Fold5/rf.txt
Pedro/baselines/lastfm/Fold1/.gitignore
Pedro/baselines/lastfm/Fold1/reg.txt
Pedro/baselines/lastfm/Fold1/rf.txt
Pedro/baselines/lastfm/Fold2/.gitignore
Pedro/baselines/lastfm/Fold2/reg.txt
Pedro/baselines/lastfm/Fold2/rf.txt
Pedro/baselines/lastfm/Fold3/.gitignore
Pedro/baselines/lastfm/Fold3/reg.txt
Pedro/baselines/lastfm/Fold3/rf.txt
Pedro/baselines/lastfm/Fold4/.gitignore
Pedro/baselines/lastfm/Fold4/reg.txt
Pedro/baselines/lastfm/Fold4/rf.txt
Pedro/baselines/lastfm/Fold5/.gitignore
Pedro/baselines/lastfm/Fold5/reg.txt
Pedro/baselines/lastfm/Fold5/rf.txt
Pedro/baselines/movielens/Fold1/.gitignore
Pedro/baselines/movielens/Fold1/reg.txt
Pedro/baselines/movielens/Fold1/rf.txt
Pedro/baselines/movielens/Fold2/.gitignore
Pedro/baselines/movielens/Fold2/reg.txt
Pedro/baselines/movielens/Fold2/rf.txt
Pedro/baselines/movielens/Fold3/.gitignore
Pedro/baselines/movielens/Fold3/reg.txt
Pedro/baselines/movielens/Fold3/rf.txt
Pedro/baselines/movielens/Fold4/.gitignore
Pedro/baselines/movielens/Fold4/reg.txt
Pedro/baselines/movielens/Fold4/rf.txt
Pedro/baselines/movielens/Fold5/.gitignore
Pedro/baselines/movielens/Fold5/reg.txt
Pedro/baselines/movielens/Fold5/rf.txt
Pedro/baselines/web10k/Fold1/.gitignore
Pedro/baselines/web10k/Fold1/reg.txt
Pedro/baselines/web10k/Fold1/rf.txt
Pedro/baselines/web10k/Fold2/.gitignore
Pedro/baselines/web10k/Fold2/reg.txt
Pedro/baselines/web10k/Fold2/rf.txt
Pedro/baselines/web10k/Fold3/.gitignore
Pedro/baselines/web10k/Fold3/reg.txt
Pedro/baselines/web10k/Fold3/rf.txt
Pedro/baselines/web10k/Fold4/.gitignore
Pedro/baselines/web10k/Fold4/reg.txt
Pedro/baselines/web10k/Fold4/rf.txt
Pedro/baselines/web10k/Fold5/.gitignore
Pedro/baselines/web10k/Fold5/reg.txt
Pedro/baselines/web10k/Fold5/rf.txt
Pedro/baselines/yahoo/Fold1/.gitignore
Pedro/baselines/yahoo/Fold2/.gitignore
Pedro/baselines/yahoo/Fold3/.gitignore
Pedro/baselines/yahoo/Fold4/.gitignore
Pedro/baselines/yahoo/Fold5/.gitignore
Pedro/baselines/youtube/Fold1/.gitignore
Pedro/baselines/youtube/Fold1/reg.txt
Pedro/baselines/youtube/Fold1/rf.txt
Pedro/baselines/youtube/Fold2/.gitignore
Pedro/baselines/youtube/Fold2/reg.txt
Pedro/baselines/youtube/Fold2/rf.txt
Pedro/baselines/youtube/Fold3/.gitignore
Pedro/baselines/youtube/Fold3/reg.txt
Pedro/baselines/youtube/Fold3/rf.txt
Pedro/baselines/youtube/Fold4/.gitignore
Pedro/baselines/youtube/Fold4/reg.txt
Pedro/baselines/youtube/Fold4/rf.txt
Pedro/baselines/youtube/Fold5/.gitignore
Pedro/dataset/.gitignore
Pedro/dataset/2003_td_dataset/Fold1/Norm.test.txt
Pedro/dataset/2003_td_dataset/Fold1/Norm.train.txt
Jeferson/dataset/.gitignore
Jeferson/dataset/2003_td_dataset/Fold1/Norm.test.txt
Jeferson/dataset/2003_td_dataset/Fold1/Norm.train.txt
